
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dokdo&family=Eater&family=Emblema+One&family=Ephesis&family=Fjalla+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Katibeh&family=Lobster&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&family=Yuji+Mai&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || Utility */
.TC {
    font-size: 2rem;
}
.brown {
    color: #b87d1a;
}

.big_letter {
    font-size : 3rem;
    color:  #b87d1a; /*  #87d; */
}

.deem {
    color: rgb(226, 225, 225);
}

.mark {
    margin: 1rem;
    font-size: large;
    font-family: cursive;
}

.logo_img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
}

::-webkit-scrollbar {
    display: none;
}

.spacer {
    height: 50vh;
}



/* || General */

html {
    background-image: url(/images/texture\ BG.jpg);
    background-position: center;
    background-size: cover;
}

body {
    min-height: 100vh;
    font-family: "Fjalla One", sans-serif;
    background-color: white;
    letter-spacing: 2px;
    line-height: 3rem;
    background-color: rgba(0, 0, 0, 0.566);
    color: white;
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.406);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}


nav {
    width: 100%;
    height: 60px;
    padding-top: 5px;
}

nav ul {
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 20px;
    gap: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: larger;
}

.menu_icon {
        height: 6px;
        width: 48px;
        background-color: white;
        position: relative;
        margin-right: 10px;
        cursor: pointer;
    }

:is(.menu_icon:hover) .menu_icon, .menu_icon::before, .menu_icon::after {
    background-color: lightgray;
}

    .menu_icon::before {
        content: '';
        position: absolute;
        background-color: white;
        height: 6px;
        width: 45px;
        transform: translateX(0) translateY(-12px);
    }

    .menu_icon::after {
        content: '';
        position: absolute;
        height: 6px;
        width: 45px;
        background-color: white;
        transform: translateY(12px);
    }

     

    .menu_container {
        background-color: rgba(0, 0, 0, 0.753);
        backdrop-filter: blur(5px);
        color: white;
        width: 0;
        height: 800px;
        display: flex;
        padding: 0;
        flex-direction: column;
        right: 0;
        position: absolute;
        font-family: system-ui;
        font-weight: 600;
        overflow: scroll;
        transition: width 0.3s ease;
    }

    .menu_container.open {
        width:400px;
        padding: 10px;
    }

    .awards_container {
        color: wheat;
        font-size: 1.5rem;
    }

    .menu_container ol {
        list-style-type: none;
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        color: wheat;
    }

    .level, .category, .awards {
        font-size: 2.5rem;
        margin: 8px;
        font-weight: 600;
    }

    .category, .awards {
        margin-top: 2rem;
    }

    .menu_container ol li {
        border-bottom: 1px solid #b87d1a;
        font-size: 22px;
    }

    .selected {
        color: #e8980d;
        
    }

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    gap: 20px;
    /* animation: fadeIn 1s ease-in-out; */
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.title {
    font-family: system-ui;
    font-size: clamp(2rem, 4rem, 5rem);
    text-align: center;
}

.score_Time_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.score_time {
    font-size: clamp(14px, 20px, 2.2rem);
    padding: 15px;
    border: 1px solid rgb(147, 147, 147);
    border-radius: 10px;
}

.feedback {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: system-ui;
    font-weight: 500;
    padding: 10px;
    display: inline;
}

.game_box {
    height: fit-content;
    width: 650px;
    margin: 5rem;
    margin-top: 2rem;
    border-radius: 15px;
    box-shadow:  0  1px 4px rgb(67, 63, 63);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.222);
}


.finalScore_box {
    height: fit-content;
    width: 650px;
    margin: 5rem;
    margin-top: 0;
    border-radius: 15px;
    box-shadow:  0  1px 4px rgb(67, 63, 63);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.222);
;
}

.finalScoreHeader {
    color: wheat;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    letter-spacing: 1px;
}



.playAgainBtn {
    font-size: 1.5rem;
    padding: 10px;
    box-shadow: 0 1px 2px rgb(138, 138, 138) ;
    border-radius: 8px;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(255, 251, 229);
    cursor: pointer;
    border: none;
    background-color: limegreen;
    margin: 2rem;
}

.playAgainBtn:active {
    background-color: rgb(73, 204, 73);
    transform: scale(0.9);
}

.game_box ul {
    list-style-type: none;
}

.questions-counter {
    color: rgb(255, 255, 255);
}

.questions {
    margin: 2rem;
    font-size: 2rem;
    color:black;
}

.options_box {
    margin: 2rem;
    display: flex;
    flex-flow: column wrap;
}

.options {
    font-size: 1.5rem;
    padding: 10px;
    box-shadow: 0 1px 2px rgb(138, 138, 138) ;
    border-radius: 8px;
    margin: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(107, 105, 105);
    cursor: pointer;
    border: none;
    min-width: 200px;
    min-height: 80px; 
    background-color: white;
    text-align: left;
}

.options:active {
    transform: scale(0.9);
}

.none {
    display: none;
}

.block{
    display: block;
}

/* Media Qeuries */

@media (max-width: 450px) {
   
    .big_letter{
        font-size: 2rem;
    }

    body {
      letter-spacing: 1px;
      line-height: 1.5rem;
    }

    header{
        background-color: rgba(0, 0, 0, 0.406);
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
    }

    .menu_icon {
        height: 6px;
        width: 48px;
        background-color: white;
        position: relative;
        margin-right: 10px;
    }

    .menu_icon::before {
        content: '';
        position: absolute;
        background-color: white;
        height: 6px;
        width: 42px;
        transform: translateX(0) translateY(-12px);
    }

    .menu_icon::after {
        content: '';
        position: absolute;
        height: 6px;
        width: 42px;
        background-color: white;
        transform: translateY(12px);
    }

     :is(.menu_icon:focus-within) .menu_icon::after {
        transform: translateX(-21px) rotate(45deg);
    }

    .menu_container {
        background-color: rgba(0, 0, 0, 0.753);
        backdrop-filter: blur(5px);
        color: white;
        width: 0;
        height: 500px;
        display: flex;
        padding: 0;
        flex-direction: column;
        right: 0;
        position: absolute;
        font-family: system-ui;
        font-weight: 600;
        overflow: hidden;
        transition: width 0.3s ease;
    }

    .menu_container.open {
        width:100%;
        padding: 10px;
    }

    .awards_container {
        color: wheat;
    }

    .menu_container ol {
        list-style-type: none;
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        color: wheat;
    }

    .level, .category, .awards {
        font-size: 20px;
        margin: 8px;
        font-weight: 600;
    }

    .category, .awards {
        margin-top: 2rem;
    }

    .menu_container ol li {
        border-bottom: 1px solid #b87d1a;
        font-size: 18px;
    }

    .selected {
        color: #e8980d;
        
    }


    .title {
        font-size: 3rem;
    }
    .game_box {
        height: 450px;
        width: 300px;
        margin: 0;
        margin-top: 1rem;
    }

    .finalScore_box {
       height: fit-content;
       width: 270px;
       line-height: 40px;
    }

    .finalScore_box p {
        margin: 10px;
    }

    .questions-counter {
    color: rgb(248, 211, 211);
    }

    .questions {
        margin: 1rem;
        font-size: 1.2rem;
    }

    .options_box {
        margin: 1rem;
    }

    .options {
        font-size: 1rem;
        padding: 8px;
        margin-top: 1rem;
        box-shadow: 0 1px 2px rgb(138, 138, 138) ;
        border-radius: 8px;
        letter-spacing: 1px;
        font-weight: bold;
        color: rgb(107, 105, 105);
        min-width: 200px;
        min-height: 60px; 
    }

    .none {
        display: none;
    }

    .block {
        display: block;
    }

}